*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    padding: none;
    font-family: 'Epilogue', sans-serif;
    scroll-behavior: smooth;
    
    
}

.nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
}

.nav .nav-link{
    text-decoration: none;
    color: var(--Medium_Gray);
    margin-right: 75px;
}

.nav a:hover{
    color: var(--Almost_Black);
    cursor: pointer;
   
}

.nav button{
    background-color: var(--Almost_White);
    padding: 13px 25px;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 1px solid var(--Medium_Gray);
}

html button:hover{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.nav .nav-left{
    padding-right: 800px;
    display: flex;
}

.main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 840px;
}

.main .main-text{
    width: 50%;
    
}
.main .main-text h1{
    align-items: center;
    font-size: 9rem;
    font-weight: 700;
    padding: 200px 50px 60px 110px;
}
.main .main-text p{
    padding: 0px 160px 60px 110px;
    font-size: 2.7rem;
    color: var(--Medium_Gray);
}
.main .main-text button{
    margin: 0px 160px 30px 110px;
    padding: 15px 40px;
    border-radius: 10px;
    background: var(--Almost_Black);
    color: var(--Almost_White);
    font-weight: 400;
    font-size: 2.7rem;
}
.main .main-text .main-text-brands{
    padding: 60px 50px 30px 110px;
    
}
.main .main-text .main-text-brands img{
    margin-right: 50px;
    width: 103px;
    height: 25px;
}
.main .main-image{
    width: 35%;    
    display: flex;
}
.main .main-image .main-image-position img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: right;
    padding: 50px;
}

.dropdown-list {  
    
    
    position: absolute;
    background-color: white;  
    
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 10px;
    
}  

.dropdown-list a {  
    display: block;
      
    color: var(--Medium_Gray);  
    text-decoration: none;  
    padding: 7px;    
}


.nav .nav-left .nav-icon{
    margin-right: 15px;
}



#list-items-features{
   
    display: none;
    min-width: 140px;
}

#list-items-company{
    display: none;
    min-width: 120px;
    text-align: left;
    padding-left: 25px;
}

